body {
	display: flex;
	flex-direction: column;
	margin: 0; padding: 0; height: 100vh;
}

main {
	display: flex;
	flex-direction: row;
	flex: auto;
	min-height: 0;
}

article {
	flex: 2;
	overflow-y: auto;
}

aside {
	flex: 1;
	overflow-y: auto;
}
